:root {
	font-family: 'Ubuntu', sans-serif;
}


html {
	box-sizing: border-box;
	font-size: 62.5%;

}

body {
	background: #ecf0f1;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	color: rgba(0, 0, 0, 0.45);
}
