---
import PostPreview from '../components/PostPreview';
import MainLayout from '../layouts/main.astro';
import '../styles/posts.css';

const allPosts = await Astro.glob('./posts/*.md');
const sortedPosts = allPosts.sort(
  (a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
);
---

<MainLayout title="Posts">
  <section class="posts">
    <h1 class="heading">Posts.</h1>
    {sortedPosts.map(post => (
      <PostPreview post={post.frontmatter} />
    ))}
  </section>
</MainLayout>
