.intro {
  background-color: #171b1c;
  margin-right: auto;
  width: 25rem;
  margin: 0 auto;
  text-align: right;
  padding: 2rem 4rem;
  border-bottom: 0.4rem solid rgba(255, 255, 255, 0.05);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.pseudonym {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: -0.9rem;
  margin: 0;
}

.interests {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  margin: 0;
  margin-top: 1rem;
}

@media screen and (min-width: 36em) {
  .pseudonym {
    font-size: 4rem;
  }

  .interests {
    font-size: 2rem;
  }
}
