---
import 'normalize.css';
import '../styles/global.css';
import '../styles/post.css';

let description = 'Read posts on tech and music';
const { title } = Astro.props;
---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content={description}>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/059b7e825d.js" crossorigin="anonymous"></script>
	<title>neosiae - {title}</title>
</head>
<body>
	<main>
		<article class="post">
			<slot />
		</article>
	</main>
</body>
</html>
